/*Variables*/

/*Global*/

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    line-height: 1.7;
    font-family: "Inconsolata", monospace;
    color: #2c2c54;
}

.container {
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
}

section {
    padding-top: 96px;
    padding-bottom: 96px;
}

.section-title {
    font-size: 48px;
    margin: 0 0 72px 0;
}

.btn {
    display: inline-block;
    min-width: 160px;
    margin: 24px auto 0 auto;
    padding: 16px;
    border-radius: 5px;
    font-family: "Inconsolata", monospace;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid;
    background-position: 100% 0;
    background-size: 300%;
    transition: all 1s;
}

.btn:hover {
    background-position: 0 100%;
    color: #ffffff;
}

.btn-one {
    border-color: #ffffff;
    color: #ffffff;
    background-image: linear-gradient(90deg, #ffffff 50%, transparent 50%);
}

.btn-one:hover {
    color: #0097e6;
}

/*Navigation*/

.navigation {
    background: #0097e6;
    padding-top: 12px;
    padding-bottom: 12px;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation li {
    display: inline-block;
    margin-right: 36px;
    position: relative;
}

.navigation a {
    text-decoration: none;
    color: #ffffff;
}

.navigation a:hover {
    color: #33d9b2;
}

.navigation ul ul li {
    display: block;
    margin-bottom: 12px;
}

.navigation li ul {
    display: none;
}

.navigation li:hover ul {
    display: block;
    margin: 0 auto;
    position: absolute;
    background: #fff;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 12px;
    padding-left: 0px;
}

.navigation li:hover ul a {
    color: #0097e6;
    display: block;
    padding-left: 36px;
}

.navigation li:hover ul a:hover {
    color: #33d9b2;
}

/*Splash*/

.splash {
    background: #0097e6;
    display: flex;
    min-height: 500px;
    color: #ffffff;
}

.splash-inner {
    margin: auto;
    max-width: 70%;
}

.page-title {
    margin: 0;
    font-size: 72px;
    line-height: 1.2;
    word-spacing: -24px;
    font-weight: 700;
}

.page-title span {
    font-family: "Signika", sans-serif;
}

.page-subtitle {
    margin: 24px 0;
    font-size: 16px;
    font-weight: 400;
}

/*Our services*/

.section-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section-item {
    flex: 0 0 33.333%;
    position: relative;
}

.section-item p {
    font-size: 16px;
    margin: 0;
}

.section-item p:first-of-type {
    font-size: 20px;
}

.item-number {
    position: absolute;
    font-size: 144px;
    line-height: 1;
    margin: 0;
    top: 5px;
    left: 0;
    font-family: "Signika", sans-serif;
    color: #33d9b2;
    opacity: 0.2;
    z-index: -1;
}

.item-title {
    font-size: 24px;
    margin: 0 0 12px 0;
}