/*Variables*/

/*Global*/

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    line-height: 1.7;
    font-family: "Inconsolata", monospace;
    color: #2c2c54;
}

.container {
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
}

section {
    padding-top: 96px;
    padding-bottom: 96px;
}

/*Navigation*/

.navigation {
    background: #0097e6;
    padding-top: 12px;
    padding-bottom: 12px;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation li {
    display: inline-block;
    margin-right: 36px;
    position: relative;
}

.navigation a {
    text-decoration: none;
    color: #ffffff;
}

.navigation a:hover {
    color: #33d9b2;
}

.navigation ul ul li {
    display: block;
    margin-bottom: 12px;
}

.navigation li ul {
    display: none;
}

.navigation li:hover ul {
    display: block;
    margin: 0 auto;
    position: absolute;
    background: #fff;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 12px;
    padding-left: 0px;
}

.navigation li:hover ul a {
    color: #0097e6;
    display: block;
    padding-left: 36px;
}

.navigation li:hover ul a:hover {
    color: #33d9b2;
}